* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #1e293b;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #2563eb, #9333ea);
  color: white;
}

/* PROFILE */
.banner {
  background: #2563eb;
  color: white;
  padding: 60px;
  text-align: center;
}

.content {
  padding: 40px;
}

/* FORM */
.form-section {
  padding: 40px 20px;
  max-width: 600px;
  margin: auto;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}
